asgiref==3.8.1
boto3==1.37.33
botocore==1.37.33
click==8.1.8
crispy-bootstrap5==2025.4
Django==5.2
django-crispy-forms==2.3
django-storages==1.14.6
dotenv==0.9.9
gunicorn==23.0.0
h11==0.14.0
jmespath==1.0.1
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
uvicorn==0.34.1
