{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger" style="float: right">Logout</button>
    </form>
    <p>Hi {{ user.username }}</p>
  {% else %}
    <a class="btn btn-primary" style="float: right" href="{% url 'login' %}">Login</a>
  {% endif %}
  <h1 style="text-align: center">Home Store Page </h1>
  <ul>
    <li>
      <a href="{% url "store:product-list" %}">All Products</a>
    </li>
    <li>
      <a href="{% url "store:category-list" %}">Categories</a>
    </li>
    <li>
      <a href="{% url "store:cart" %}">Cart</a>
    </li>
  </ul>
{% endblock %}